* {
  box-sizing: border-box;
}
:root {
  --wbackground: #f9f9f9;
  --fontColor: #2a2725;
  --orangeColor: #eb692e;
}

.container {
  margin: 1em 10% 0 10%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--wbackground);
}
.header {
  display: flex;
  justify-content: space-between;
}
.projectTitle {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: inline-block;

  border-radius: 10px;
  padding: 0 1em;
  font-weight: 900;
  background-color: var(--orangeColor);
  color: var(--fontColor);
}
.projectCodeLink {
  text-decoration: none;
  color: gray;
}
.projectCodeLink:hover {
  text-decoration: underline;
}

.form {
  margin: 1em 2em;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
}
.form--wrapper {
  display: flex;
  justify-content: flex-start;
}
.form--inputSec {
  margin-right: 2em;
  font-size: 1.5em;
  color: gray;
}
.form--inputSec--input {
  padding: 5px;
  border: none;
  border-bottom: 1px solid;
  outline-color: gray;
}
.form--submit {
  border: none;
  background-color: var(--orangeColor);
  color: var(--fontColor);
  border-radius: 5px;
  font-size: 1em;
}
.form--submit:hover {
  color: #fff;
  cursor: pointer;
}
.loadingSec {
  display: none;
  width: 25%;
  height: 25%;
  margin: auto;
}
.dataTable {
  border-radius: 10px;
  -webkit-box-shadow: 10px -7px 11px -6px var(--orangeColor);
  -moz-box-shadow: 10px -7px 11px -6px var(--orangeColor);
  box-shadow: 10px -7px 11px -6px var(--orangeColor);
  border-collapse: collapse;
}
.dataTable td {
  /* border: 1px solid; */
  padding: 0.25em;
  text-align: center;
}
.copyRight {
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
  color: gray;
}
.copyRight:hover {
  text-decoration: underline;
  color: darkgrey;
}
.resultSec {
  width: fit-content;
}
.footer {
  position: fixed;
  bottom: 0;
  right: 10%;
  /* width: 80%; */
  padding-bottom: 1em;
}
.footerContent {
  font-size: 1em;
  color: var(--fontColor);
}
.autherLink {
  text-decoration: none;
  background-color: var(--orangeColor);
  color: var(--fontColor);
  padding: 2px;
  border-radius: 2px;
}
.autherLink:hover {
  text-decoration: underline;
  font-weight: 900;
}
